@import url(theme.css);

body {
    background: var(--color-white);
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-template-rows: auto auto auto auto;
    width: 100%;
    min-height: 100vh;
}


#TopBar {
    grid-row: 1;
    height: min-content;
    background: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-column: 1 /span 4;
    align-items: center;
    padding: 1em 1em;
    gap: 1em;
    width: 100%;
}

#logo {
    display:none;
}


#TopBar form {
    grid-column: 1;
    width: 100%;
    display: grid;
    grid-template-columns: subgrid;
}

.user-nav {
    grid-column: 2;
}

#user-controls {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    li {
        font-size: small;
        list-style: none;
    }
}

.register {
    font-size: xx-small;
    text-decoration: none;
    color: var(--color-fifth);
}

.searchbar {
    grid-column: 1;
    width: 100%;
    border-radius: 0.5em;
    font-size: small;
    border: none;
    outline: none;
}

footer {
    grid-row: 4;
    position: static;
    height: min-content;
    margin-top: auto;
    grid-column: 1 /span 4;
    width: 100%;
    font-size: xx-small;
    background: var(--color-secondary);
    padding: 2em;
}

.footer-items{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: space-between;
    li {
        list-style: none;
        flex: 1;
        text-align: center;
    }
}

.profile-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    align-content: center;
    cursor: pointer;
}
.profile-icon img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: fill;
}
@media (width >= 64rem) { 

    body {
        background: var(--color-white);
        display: grid;
        grid-template-columns: repeat(12, minmax(min-content, 1fr));
        grid-template-rows: auto auto auto auto;
        width: 100%;
        min-height: 100vh;
    }
    
    
    #TopBar {
        grid-row: 1;
        height: min-content;
        background: var(--color-secondary);
        display: grid;
        grid-template-columns:  5em 1fr 5em;
        grid-column: 1 /span 12;
        align-items: center;
        padding: 1em 1em;
        gap: 1em;
        width: 100%;
    }
    
    #logo {
        grid-column: 1;
        display:block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    
    #TopBar form {
        grid-column: 2;
        width: 100%;
        display: grid;
        grid-template-columns: subgrid;
    }
    
    .user-nav {
        grid-column: 3;
    }
    
    #user-controls {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        gap:0.5em;
        li {
            font-size: small;
            list-style: none;
        }
    }
    
    .register {
        font-size: xx-small;
        text-decoration: none;
        color: var(--color-fifth);
    }
    
    .searchbar {
        grid-column: 1;
        width: 100%;
        border-radius: 0.5em;
        font-size: x-small;
        border: none;
        outline: none;
    }
    
    footer {
        grid-row: 4;
        position: static;
        height: min-content;
        margin-top: auto;
        grid-column: 1 /span 12;
        width: 100%;
        font-size:x-small;
        background: var(--color-secondary);
        padding: 2em;
    }
    
    .footer-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1em;
        li {
            list-style: none;
            text-align: center;
        }
    }
    
    .profile-icon {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-content: center;
        cursor: pointer;
    }
    .profile-icon img{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: fill;
    }







}