@import url(theme.css);

#Popup {
    display: none;
}


#Popup.active {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: min-content;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 5em 1fr;
    background-color: var(--color-primary);
    padding: 1em;
    border-radius: 0.5em;
    gap: 1em;
    align-items: center;
}

.image-container {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

#genericImage {
    Width: 100%;
    height: 100%;
    object-fit: cover;
}

#Popup #loginForm {
    display: none;
}

#Popup #loginForm.active {
    max-height: fit-content;
    max-width: fit-content;
    width: 100%;
    height: auto;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: xx-small;
    gap: 0.5em;
}

#Popup #registerForm.active {
    width: 100%;
    height: auto;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: xx-small;
    gap: 0.5em;
}

#Popup #registerForm {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 1em;
}

input {
    font-size: xx-small;
    min-width: 6rem;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid;
    border-color: var(--color-white);
}

.submit {
    font-size: xx-small;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid;
    color: var(--color-white);
    border-color: var(--color-quarternary);
    background-color: var(--color-quarternary);
}

a {
    font-size: xx-small;
    text-decoration: none;
    color: var(--color-fifth);
}

select {
    font-size: xx-small;
    width: 100%;
    height: auto;
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid;
    border-color: var(--color-quarternary);
    background-color: var(--color-quarternary);
    color: var(--color-white);
}

option {
    font-size: xx-small;
}

#close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: x-small;
    color: var(--color-quarternary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: var(--color-primary);

}

#Popular_Categories {
    grid-row: 2;
    grid-column: 1 /span 4;
    width: 100%;
    padding: 1em;
    align-self: start;
    justify-self: stretch;
}

#Popular_Categories>h2 {
    font-size: small;
    font-weight: 300;
    text-align: left;
}

#category {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
    padding-top: 0.5em;
    list-style: none;
    scrollbar-width: 5em;
}

.categories {

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 0.5em;
    padding: 0.5em;
    width: 5em;
    height: 5em;
    min-width: 5em;
    min-height: 5em;
}

.categories a {
    font-size: xx-small;
    text-align: center;
    overflow: hidden;
}

main {
    grid-row: 3;
    grid-column: 1 /span 4;
    display: grid;
    grid-template-columns: 100%;
    padding: 1em;
}

#sellers {
    grid-row: 1;
}

#sellers .scrollable {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
    padding-top: 0.5em;
}

#sellers h2 {
    font-size: small;
    font-weight: 300;
    text-align: left;
}

#sellers .seller {

    width: 10em;
    height: 10em;
    min-width: 10em;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    background-color: var(--color-primary);
    border-radius: 0.5em;
    font-size: x-small;
    padding: 0.5em;
    overflow: hidden;
}

#sellers .profile_pic {
    width: 100%;
    height: 5em;
    object-fit: cover;
    border-radius: 0.5em;
}

#sellers .information {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.sellerName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: xx-small;
}

.sellerRating {
    width: 100%;
    font-size: xx-small;
    overflow: hidden;
    text-overflow: ellipsis;
}

#services {
    width: 100%;
    grid-row: 2;
}

#services header>h2 {
    font-size: small;
    font-weight: 300;
    text-align: start;
    padding-bottom: 0.5em;
}

.displayServices {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1em;
    justify-content: flex-start;

}

.displayServices article {
    width: 10em;
    height: 10em;
    min-width: 10em;
    min-height: 10em;
    background-color: var(--color-primary);
    padding: 0.5em;
    gap: 0.5em;
    border-radius: 0.5em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    scroll-snap-type: x mandatory;
}

.ServiceImages {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    gap: 0.5em;
    width: 100%;
    height: 5em;
    align-items: center;
    background: none;
    border-radius: 0.5em;
    padding: 0.2em 0;
}

.service_images {
    flex: 0 0 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    scroll-snap-align: center;
}


#information {
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: center;
    font-size: xx-small;
    white-space: normal;
    gap: 0.5em;
}

.profile_pic2 {
    grid-column: 1;
    width: 2em;
    height: 2em;
    object-fit: fill;
    border-radius: 50%;
}

.service-details {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    overflow: hidden;
}

.serviceTitle,
.sellerName,
.sellerRating,
.servicePrice {
    font-size: xx-small;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (width >=64rem) {
    #Popup {
        display: none;
    }


    #Popup.active {
        position: fixed;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        max-width: min-content;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 10em 10em;
        background-color: var(--color-primary);
        padding: 1em;
        border-radius: 0.5em;
        gap: 1em;
        align-items: center;
    }

    .image-container {
        grid-column: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        object-fit: cover;
        align-items: center;
    }

    #genericImage {
        Width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #Popup #loginForm {
        display: none;
    }

    #Popup #loginForm.active {
        max-height: fit-content;
        width: 100%;
        height: auto;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        font-size: x-small;
        gap: 0.5em;
    }

    #Popup #registerForm.active {
        width: 100%;
        height: auto;
        max-height: fit-content;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        font-size: x-small;
        gap: 0.5em;
    }

    #Popup #registerForm {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        gap: 1em;
    }

    input {
        font-size: x-small;
        min-width: 6rem;
        width: 100%;
        padding: 0.5em;
        border-radius: 0.5em;
        border: solid;
        border-color: var(--color-white);
    }

    .submit {
        font-size: x-small;
        width: 100%;
        padding: 0.5em;
        border-radius: 0.5em;
        border: solid;
        color: var(--color-white);
        border-color: var(--color-quarternary);
        background-color: var(--color-quarternary);
    }

    a {
        font-size: x-small;
        text-decoration: none;
        color: var(--color-fifth);
    }

    select {
        font-size: x-small;
        width: 100%;
        height: auto;
        padding: 0.5em;
        border-radius: 0.5em;
        border: solid;
        border-color: var(--color-quarternary);
        background-color: var(--color-quarternary);
        color: var(--color-white);
    }

    option {
        font-size: xx-small;
    }

    #close {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: x-small;
        color: var(--color-quarternary);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        border: none;
        background-color: var(--color-primary);

    }

    #Popular_Categories {
        grid-row: 2;
        grid-column: 1 /span 12;
        width: 100%;
        padding: 1em;
        align-self: start;
        justify-self: stretch;
    }

    #Popular_Categories>h2 {
        font-size: medium;
        font-weight: 300;
        text-align: left;
    }

    #category {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1em;

        padding-top: 0.5em;
        list-style: none;
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        border-radius: 0.5em;
        padding: 0.5em;
        width: 5em;
        height: 5em;
        min-width: 5em;
        min-height: 5em;
    }

    .categories a {
        font-size: x-small;
        text-align: center;
        overflow: hidden;
    }

    main {
        grid-row: 3;
        grid-column: 1 /span 12;
        display: grid;
        grid-template-columns: 100%;
        padding: 1em;
    }

    #sellers {
        grid-row: 1;
    }

    #sellers .scrollable {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1em;
        padding-top: 0.5em;
    }

    #sellers h2 {
        font-size: medium;
        font-weight: 300;
        text-align: left;
    }

    #sellers .seller {
        width: 15em;
        height: 15em;
        min-width: 15em;
        min-height: 15em;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        align-content: center;
        gap: 0.5em;
        background-color: var(--color-primary);
        border-radius: 0.5em;
        font-size: x-small;
        padding: 0.5em;
        overflow: hidden;
    }

    #sellers .profile_pic {
        width: 100%;
        height: 7.5em;
        object-fit: cover;
        border-radius: 0.5em;
    }

    #sellers .information {
        height: 7.5em;
        width: 100%;
        text-align: left;
        overflow: hidden;
    }
    .sellerRating
    .sellerName {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: x-small;
    }

    #services {
        width: 100%;
        grid-row: 2;
    }

    #services header>h2 {
        font-size: medium;
        font-weight: 300;
        text-align: start;
        padding-bottom: 0.5em;
    }

    .displayServices {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: 100%;
        gap: 1em;
        justify-content: flex-start;

    }

    .displayServices article {
        width: 10em;
        height: 10em;
        min-width: 10em;
        min-height: 10em;
        background-color: var(--color-primary);
        padding: 0.5em;
        gap: 0.5em;
        border-radius: 0.5em;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        scroll-snap-type: x mandatory;
    }

    .ServiceImages {
        grid-row: 1;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-y: hidden;
        gap: 0.5em;
        width: 100%;
        height: 5em;
        align-items: center;
        background: none;
        border-radius: 0.5em;
        padding: 0.2em 0;
    }

    .service_images {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5em;
        scroll-snap-align: center;
    }


    #information {
        grid-row: 2;
        width: 100%;
        display: grid;
        grid-template-columns: 2em 1fr;
        align-items: center;
        font-size: xx-small;
        white-space: normal;
        gap: 0.5em;
    }

    .profile_pic2 {
        grid-column: 1;
        width: 2em;
        height: 2em;
        object-fit: fill;
        border-radius: 50%;
    }

    .service-details {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        overflow: hidden;
    }

    .serviceTitle,
    .sellerName,
    .sellerRating,
    .servicePrice {
        font-size: x-small;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}