
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Poppins, sans-serif;
}
:root {
    /*Theme colors*/
    --color-primary: #F0EAD2;
    --color-secondary:#DDE5B6;
    --color-ternary:#ADC178;
    --color-quarternary:#A98467;
    --color-fifth:#6C584C;
    --color-black:#000000;
    --color-white:#FFFFFF;
    --color-gray:#808080;
    --color-light-gray:#D3D3D3;
    --color-dark-gray:#A9A9A9;


    /*Text Style*/
    --font-family: 'Poppins', sans-serif;
    --font-size-4xsmall:0.5rem;
    --font-size-xxxsmall: 1rem;
    --font-size-xxsmall:2rem;
    --font-size-xsmall:4rem;
    --font-size-small: 6rem;
    --font-size-medium: 8rem;
    --font-size-large: 10rem;
    --font-size-xlarge: 12rem;
    --font-size-xxlarge: 14rem;
    --font-size-xxlarge2: 16rem;
    
}
